body{
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom,  #74cdd1,#60bcad,#102444);
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#container{

padding-top: 150px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}

#form {
    width: 250px;
    height: 180px;
    background: #fff;
    display: flex;
    align-items: center;
    padding-top:10px;
    flex-direction:column;
    border-width: 2px;
    border-style:solid;
    border-color:black;
    
}
    
      
label {
    width: 50px;
    height: 20px;
    color:black;
    margin: 10px;
    background-color:ghostwhite;
       
      }
          
#button {
    width: 50px;
    height: 20px;
    color: white;
    background-color:lightblue;
    color:black;
   margin: 10px;
   
       
  }

.get{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 20px;
}
.tabela{

  border:3px black solid;
}
.linha{
  background-color: aliceblue;
}
#tbody{
  width: 100px;
  height: 100px;
  background-color: antiquewhite; 
 
}

 

    
